{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "off",
  "experimentalTernaries": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "tabWidth": 4,
  "trailingComma": "none",
  "overrides":
    [
      {
        "files": ["*.js", "*.jsx", "*.ts", "*.tsx", "*.json", ".prettierrc"],
        "options": { "tabWidth": 2 }
      }
    ]
}
